* {
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    margin: 0;
    padding: 25px;
    height: 80%;
}

h1 {
    font-size: 22px;
    color: #232323;
    margin: 0;
    text-align: center;
}

nav {
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}
